DATABASE_URL=postgresql://user:password@ep-example-pooler.region.aws.neon.tech/dbname?sslmode=require&channel_binding=require&pgbouncer=true&connection_limit=1
DIRECT_URL=postgresql://user:password@ep-example.region.aws.neon.tech/dbname?sslmode=require&channel_binding=require
JWT_SECRET=
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
